.button-black-container {
  display: contents;
}
 
.button-black-text2 {
  display: inline-block;
}
 
.button-blackroot-class-name {
  display: none;
}
 

 
.button-blackroot-class-name2 {
  width: auto;
}
 

 

